<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>HIFU emergency alert</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td style="padding: 10px 0 30px 0;">
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 1px solid #cccccc; border-collapse: collapse;">
                    <tr>
                        <td align="center" bgcolor="#70bbd9" style="padding: 40px 0 30px 0; color: #153643; font-size: 28px; font-weight: bold; font-family: Arial, sans-serif;">
                            <img src=https://live.staticflickr.com/4892/45190646975_9222bd2066_b.jpg alt="Emergency Contact Alert" width="500" height="230" style="display: block;" />
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td style="color: #153643; font-family: Arial, sans-serif; font-size: 24px;">
                                        <b>Emergency Alert Regarding: {{person_name}}</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 20px 0 30px 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
                                            {{contact_name}},
you were listed as an emergency contact for {{person_name}}. {{person_name}}
left on a {{activity}} trip on {{start_time}} and expected to be back at {{end_time}}. {{person_name}} has not checked back in with us. Please reach out to check on them. If you can not get it touch with {{person_name}} we recommend calling the police station near their last known location.

     Here is the relevant information that the police/first responders should be
informed of:
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                                <td width="260" valign="top">
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                        <tr>
                                                            <td>
                                                                <img src=https://cdn4.vectorstock.com/i/1000x1000/54/38/identification-card-icon-personal-info-data-icon-vector-28695438.jpg alt="" width="95%" height="140" style="display: block;" />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding: 25px 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;"> <b> Personal Info</b> <br>
                                                                     Name: {{person_name}} <br>

     Age: {{person_age}} <br>
     Address: {{person_address}} <br>
     Phone: {{person_phone}} <br>
     Race: {{person_age}} <br>
     Gender: {{person_gender}} <br>
     Sat Tracker Address: {{sat_tracker}} <br>
     Blood Type: {{person_blood_type}} <br>
     Allergies: {{person_allergies}} <br>
     Medical Conditions: {{person_medical_conditions}} <br>
     Height(cm): {{person_heightCM}} <br>
     Weight(kg): {{person_weightKG}}
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td style="font-size: 0; line-height: 0;" width="20">
                                                    &nbsp;
                                                </td>
                                                <td width="260" valign="top">
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                        <tr>
                                                            <td>
                                                                <img src=https://upload.wikimedia.org/wikipedia/commons/e/e9/Bryce_Canyon_Swamp_Canyon_Trail_topography.jpg alt="" width="100%" height="140" style="display: block;" />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding: 25px 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;"> <b> Route Details </b> <br>
                                                                     Start time: {{start_time}} <br>
     Expected end time: {{end_time}} <br>
     Activity: {{activity}} <br>
     Party size: {{party_size}} <br>
     Additional notes: {{notes}} <br> <br>
     <b>Route Waypoints </b><br>
     Long:
     Lat:
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#ee4c50" style="padding: 30px 30px 30px 30px;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td style="color: #ffffff; font-family: Arial, sans-serif; font-size: 14px;" width="75%">
                                        &reg; HIFU, when you want to get lost but still get found <br/>
                                        <a href="#" style="color: #ffffff;"><font color="#ffffff">
                                    </td>
                                    <td align="right" width="25%">
                                        <table border="0" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td style="font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;">

                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>-
